/* body styling */
body{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background-color: aliceblue; box-sizing: border-box;}
/* body style end */
/* navbar styling */
nav {
    display: flex;
  
    
}

nav li {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   
   
}

nav a:hover {
    color: #000000;
}

nav a {font-weight:900; padding:30px; text-decoration: none; color: rgb(255, 255, 255); display: block;}

/* Media query for mobile view */
@media only screen and (max-width: 600px ) {
    nav {
        flex-direction: column;
        align-items: center;
        width: 200%;
    }
  section,div{ width:max-content}
    nav ul {
        width: 100%;
        text-align: center;
        width: 100%;
    }

    nav li {
        margin: 10px 0;
    }
}

/* nav style end */



/* ul styling */

ul{
    background-color: rgb(0, 191, 255); width:  100%;
}
/* ul style end */


/* image styling */
img{
     width:100px; height: 100px;
}
/* image style end */

/* Div styling */
.main{
    border: none ; width: 700px; height: 550px; border-radius: 10px; background-color: white;  display: flex;
    align-items: center; 
    justify-content: center; box-shadow:  20px 20px 50px grey; 
    margin-top: 20px; display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    max-width: 100%;
    max-height: 100%;
   
}
/* div end */

/* label styling */
label{
    color: darkblue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* label end */

/* span messssage style */
#game{ 
    color: white;
}
/* span end */

/* table styling */
th{
    text-align: left;
}

/* table end */
/* textarea styling */
textarea{ 
    width: 350px; height: 50px; border-radius: 5px;
}
/* textarea end */

/*  input[text] styling */
input[type="text"]{
    height: 30px; border-radius: 5px;

}
/* input[text] styling end */
/* input[number]  styling*/
input[type="number"]{
    height: 30px; border-radius: 5px;
}

/* input[number]  styling end */
/* input[email] styling */

input[type="email"]{
    height: 30px; border-radius: 5px;
}
/* input[email] styling end */
/* input[date] styling */
input[type="date"]{
    height: 30px; border-radius: 5px; width:166px;
}
/* input[date] styling end */

/* input[button] styling */
input[type="button"]{
    width: 100px; height: 30px; border-radius: 5px;
}
/* input[button] styling end */

/* input[reset] styling */
input[type="reset"]{
    width: 100px; height: 30px; border-radius: 5px;
}

/* input[reset] styling  end*/

table{display: block;
    margin-left: 30px;
}


/* Media query for mobile view */
@media only screen and (max-width: 600px) {
    .main{
        padding: 20px; 
        margin: 10px 0;
        flex-direction: column;
        align-items: center;/* Adjust padding for smaller screens */
    }
}
   